*.iml
.gradle
/local.properties
/dts-generator/.idea/workspace.xml
/dts-generator/.idea/misc.xml
/dts-generator/.idea/libraries
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea

/out
/output
/newApp
/dts_gen_app
testparams.txt
/jars
